[user]
	email = ilya.aurov@gmail.com
	name = Ilya
[alias]
	dcno = diff --cached --name-only
	dc = diff --cached
[core]
	editor = vim
[color "diff"]
	frag = white
	commit = red
	meta = bold white reverse
